* {
    box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

.pageOne {
  background: linear-gradient(#F3F1CB, #2A8B91);
  height: 100vh;
}

.pageTwo {
  height: 100vh;
  background-image: url('ep_naturalwhite.png');
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 10px;
}

.pageOneSubtitle {
  padding-top: 1%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 75%;
  font-weight: bolder;
  font-size: 2.2vw;
}

.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 80vw;
  /*height: 80vh;*/
  background: #fcfcfc;
}

.projectWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.projectCards {
  width: 20vw;
  height: 20vw;
  background-color: pink;
  margin: 10px;
}

.projectCards:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#titleFormat {
  font-size: 10.5vw;
  font-weight: 300;
}

#pageTwoTitle {
  font-size: 3em;
}

hr {
  width: 75%;
  background-color: #000000;
  border: 0 none;
  height: 1px;
}

